h1{
  color: blue;
}
h2{
  color: green;
}
h3{
  color: red;
}

/*3 #### nivel intermediario */
p{
  color: red;
}
button#myHeading{
  background-color: white;
  border: 3px solid black;
  width: 423px;
  height: 32px;
  cursor: pointer;
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: center;
}
/*3 ######## Nivel dificil ##########*/

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

p {
  font-size: 14px;
}

/*3 ######## Nivel Super dificil ##########*/


table {
  border-collapse: collapse;
}

td {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}